.env
*.json
*.jpg
*.jpeg
*.JPG
*.webp
*.pth
*.pt
*.onnx
*.txt
*.xlsx
*.pdf
*.hwp
*.png
*.zip
*.pptx
*.docx
*.pyc


virtual_try_on/catvton-flux/
virtual_try_on/PromptDresser/
virtual_try_on/tryondiffusion/
virtual_try_on/IDM-VTON/

readmetext.txt